{% extends 'layout.html' %}
{% load bootstrap5 %}

{% block content %}
<section class="container mt-5">
    <h2 class="text-center">Editar Producto</h2>
    <!-- Mostrar mensajes de Django -->
    {% bootstrap_messages %}
    <div class="row justify-content-center">
        <div class="col-md-8">
            <form action="{% url 'editar_producto' producto_id=producto_id %}" method="post">
                {% csrf_token %}
                {{ form.as_p }}
                <button type="submit" class="btn btn-success mt-3">Guardar Cambios</button>
                <a href="{% url 'listar_productos' %}" class="btn btn-secondary mt-3">Cancelar</a>
            </form>
        </div>
    </div>
</section>
{% endblock %}

